<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    
    <form action="/formhandling" method="POST">
        <label for="username">帳號: </label>
        <input type="text" id="username" name="username" required>
        <label for="password">密碼: </label>
        <input type="password" id="password" name="password" required>
        <button type="submit">登入</button>
    </form>
   

    <table>
        <thead>
            <tr>
                <th>名稱</th>
                <th>評價</th>
                <th>熱門程度</th>
                <th>流行度</th>
            </tr>
        </thead>
        <tbody>
            <% languages.forEach(lang => { %>
            <tr>
                <td><%= lang.name %></td>
                <td><%= lang.rating %></td>
                <td><%= lang.popularity %></td>
                <td><%= lang.trend %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('partials/footer.ejs') %>
</body>
</html>
